version: '3.7'

services:
  postgres:
    container_name: postgres
    image: postgres:12.0
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
    ports:
      - 5432:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    network_mode: "bridge"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  gbe:
    container_name: gbe
    build:
      context: ./
      dockerfile: Dockerfile
    image: generic-block-explorer
    depends_on:
      - postgres
    ports:
      - 8080:8080
#      - 5679:5678
    environment:
      BLOCK_EXPLORER_REPLICATOR_ADDR: 'docker.for.mac.localhost:5678'
      BLOCK_EXPLORER_DB_URL: 'postgres://postgres:secret@postgres:5432/postgres?sslmode=disable'
      MIGRATE_URL: 'postgres://postgres:secret@postgres:5432/postgres?sslmode=disable'
    network_mode: "bridge"
    links:
      - postgres
    volumes:
      - .artifacts/block-explorer.yaml:/opt/app/config/block-explorer.yaml
      - .artifacts/migrate.yaml:/opt/app/config/migrate.yaml
    command:
      - /bin/bash
      - -c
      - |
        sleep 15
        printenv
        ls -al
        ./migrate --config=/opt/app/config/migrate.yaml
        ./block-explorer     --config=/opt/app/config/block-explorer.yaml

