name: tests
on:
  push:
    branches:
      - master
  pull_request:

env:
  GO_VERSION: 1.14
  CI_GOMAXPROCS: 0

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: set up go ${{env.GO_VERSION}}
        uses: actions/setup-go@v1
        with:
          go-version: ${{env.GO_VERSION}}
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Build
        run: make build
  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/work/block-explorer/block-explorer/go
    steps:
      - name: set up go ${{env.GO_VERSION}}
        uses: actions/setup-go@v1
        id: go
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
        with:
          path: go/src/github.com/insolar/block-explorer
          fetch-depth: 1
      - name: Test
        run: make unit
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/block-explorer
  integration:
    name: Integration tests
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/work/block-explorer/block-explorer/go
    steps:
      - name: set up go ${{env.GO_VERSION}}
        uses: actions/setup-go@v1
        id: go
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
        with:
          path: go/src/github.com/insolar/block-explorer
          fetch-depth: 1
      - name: Test
        run: make integration
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/block-explorer
  test-with-mock:
    name: heavy mock integration tests
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/work/block-explorer/block-explorer/go
    steps:
      - name: set up go ${{env.GO_VERSION}}
        uses: actions/setup-go@v1
        id: go
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
        with:
          path: go/src/github.com/insolar/block-explorer
          fetch-depth: 1
      - name: Test
        run: make test-heavy-mock-integration
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/block-explorer
  test-with-coverage:
    name: tests with coverage
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/work/block-explorer/block-explorer/go
    steps:
      - name: set up go ${{env.GO_VERSION}}
        uses: actions/setup-go@v1
        id: go
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
        with:
          path: go/src/github.com/insolar/block-explorer
          fetch-depth: 1
      - name: Test
        run: make test-with-coverage
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/block-explorer
      - name: Upload coverage to Codecov
          run: bash <(curl -s https://codecov.io/bash) -f coverage.out -y .codecov.yml -n coverage-report
          working-directory: ${{env.GOPATH}}/src/github.com/insolar/block-explorer

  migrate:
    name: Test migrate command
    runs-on: ubuntu-latest
    steps:
      - name: set up go ${{env.GO_VERSION}}
        uses: actions/setup-go@v1
        with:
          go-version: ${{env.GO_VERSION}}
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Migrate
        run: |
          make config
          make docker_postgresql
          make migrate
